[submodule "resources/zotero"]
	path = resources/zotero
	url = git@github.com:zotero/zotero.git
	datalad-url = git@github.com:zotero/zotero.git
[submodule "resources/local-citation-network"]
	path = resources/local-citation-network
	url = https://github.com/LocalCitationNetwork/LocalCitationNetwork.github.io.git
	datalad-url = https://github.com/LocalCitationNetwork/LocalCitationNetwork.github.io.git
[submodule "resources/gecko-react"]
	path = resources/gecko-react
	url = https://github.com/CitationGecko/gecko-react.git
[submodule "resources/inciteful-web"]
	path = resources/inciteful-web
	url = https://github.com/inciteful-xyz/inciteful-web.git
	datalad-url = https://github.com/inciteful-xyz/inciteful-web.git
[submodule "resources/paperscape-mapclient"]
	path = resources/paperscape-mapclient
	url = https://github.com/paperscape/paperscape-mapclient.git
	datalad-url = https://github.com/paperscape/paperscape-mapclient.git
[submodule "resources/academic-citation-network"]
	path = resources/academic-citation-network
	url = https://github.com/huangy22/Academic_Citation_Network.git
	datalad-url = https://github.com/huangy22/Academic_Citation_Network.git
